body {
  font-family: Arial, sans-serif;
}

.app {
  margin: 0px auto;
  height: 100vh;
  /* padding: 20px; */
  display: grid;
  grid-template-rows: 15vh 65vh 20vh;
  overflow: hidden;
}
.logo {
  /* position: relative;
  left: -100px; */
  float: left;
  width: 180px;
  height: 100px;
  margin-left: 10px;
}
.dataSectionNames {
  cursor: pointer;
}
nav {
  /* background-color: #333; */
  height: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

nav li {
  padding: 10px;
}

nav div {
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-weight: bold;
  border: none;
  /* margin: auto; */
  position: relative;
  /* top: -100px; */
  bottom: -35px;
  height: 20px;
}

header {
  text-align: center;
  margin-top: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h2 {
  margin: 5px 0;
  font-size: 24px;
  color: #888;
}

.section {
  /* margin-top: 30px; */
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  /* background-color: #3c74d3; */
  text-align: center;
  height: 60vh;
  overflow-y: scroll;
}
.dataSectionNames:hover {
  transform: scale(1.3);
  color: #3d76d6;
  cursor: pointer;
}
h3 {
  font-size: 24px;
}

ul {
  list-style: none;
  padding: 0;
}

.contact-person {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  color: #888;
  margin-top: 30px;
  position: absolute;
  bottom: 0px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 1px auto;
  height: auto;
  border-top: 2px solid #3c74d3;
  /* padding: 5px; */
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-bottom: 10px;
  }
}

.aboutUsDiv {
  width: 80%;
  margin: auto;
  text-align: left;
}
.title {
  margin: 0;
  padding: 10px;
  background-color: #f2f2f2;
  cursor: pointer;
}
.content {
  padding: 10px;
  border: 1px solid #ccc;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 120px;
    height: 70px;
    margin-top: 5px;
  }
  .section {
    padding: 0px;
    width: 100vw;
  }
  .dataSectionNames {
    font-size: 11px;
  }
  footer {
    font-size: 13px;
  }
  nav {
    grid-template-columns: auto auto;
  }
  .dataSectionNames {
    font-size: 14px;
    text-align: center;
    height: 35px;
    font-weight: bold;
  }
  .dataSectionNames:hover {
    transform: scale(1.1);
  }
}
